{% extends 'clothes/main.html' %}
{% load staticfiles %}
{% block title_block %}
 {% load humanize %}
    {% load templatehelper %}
   {{ category.name }}
    {% endblock %}
{% block body_block %}

{% block content %}
{% if category %}

<div class="contain">
<h1 style="font-family: Merriweather, serif; font-weight: bold; font-size: 25px; color: darkblue">{{ category.name }} </h1>

<h4 style="font-family: Merriweather, serif; font-weight: bold; font-size: 20px; color: black">{{ total_subcategories }} style{{ total_subcategories|pluralize }} found </h4>
<section>
    <ul class="dropdown menu" data-dropdown-menu id="primary-menu" style="margin-left: 5px">
  <li>
      <a href="#"> <button class="hollow button primary extended"> Sort By</button></a>

    <ul class="menu">
      <li><a href="?order=name">Name(A-Z)</a></li>
      <li><a href="?order=-name">Name(Z-A)</a></li>

    </ul>

  </li>

</ul>
</section>


{% if tag %}
<h2 style="text-align: center">Style tagged with "{{ tag.name }}"</h2>
    <h1 style="font-family: Merriweather, serif; font-weight: bold; font-size: 20px; color: black">{{ total_products }} styles{{ total_products|pluralize }} found </h1>
{% endif %}
<div class="grid-x grid-margin-x">
       {% for subcategory in subcategories %}
        <div class="cell large-2 small-6 medium-4">
        <div class="news-card-tag">

  <p class="tags">
      Tags:
      {% for tag in product.tags.all|slice:"3" %}
          <span class="label"><a href="">{{ tag.name }}</a>
          </span>

{% if not forloop.last %}, {% endif %}
{% endfor %}
</p>
</div>

<div class="card-flex-article card">
  <div class="card-image">

      {% if subcategory.picture %}
          <a href="{{ subcategory.get_absolute_url }}"><img src="{{ subcategory.picture.url }}"></a>
      {% endif %}

  </div>
  <div class="card-section">

    <h3 class="article-title">{{ subcategory.name }}</h3>
    <div class="article-details">

    </div>


  </div>

</div>


    </div>
{% endfor %}
</div>
</div>
{% else %}
<p>No Entry Yet</p>
{% endif %}

    {% if subcategories.has_other_pages %}
    <ul class="pagination-pointed pagination text-center" role="navigation" aria-label="Pagination">
    {% if subcategories.has_previous %}
     <li class="pagination-previous"><a class="pagination-pointed-button" href="?{% query_transform request page=subcategories.previous_page_number %}" >Previous <span class="show-for-sr">Page</span></a></li>
        {% else %}
  <li class="pagination-previous disabled">Previous <span class="show-for-sr">Page</span></li>
        {% endif %}
    {% for i in  subcategories.paginator.page_range %}
    {% if subcategories.number == i %}
  <li class="current"><span class="show-for-sr">You're on page</span> {{ i }}</li>
        {% else %}
  <li><a class="pagination-pointed-button" href="?{% query_transform request page=i %}">{{ i }}</a></li>
  {% endif %}
    {% endfor %}
    {% if subcategories.has_next %}
   <li class="pagination-next"><a class="pagination-pointed-button" href="?{% query_transform request page=subcategories.next_page_number %}" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
        {% endif %}
</ul>
    {% endif %}
    {% if tag.name in tag %}
        {% if products.has_other_pages %}
    <ul class="pagination-pointed pagination text-center" role="navigation" aria-label="Pagination">
    {% if products.has_previous %}
     <li class="pagination-previous"><a class="pagination-pointed-button" href="?{% query_transform request page=products.previous_page_number %}" >Previous <span class="show-for-sr">Page</span></a></li>
        {% else %}
  <li class="pagination-previous disabled">Previous <span class="show-for-sr">Page</span></li>
        {% endif %}
    {% for i in  products.paginator.page_range %}
    {% if products.number == i %}
  <li class="current"><span class="show-for-sr">You're on page</span> {{ i }}</li>
        {% else %}
  <li><a class="pagination-pointed-button" href="?{% query_transform request page=i %}">{{ i }}</a></li>
  {% endif %}
    {% endfor %}
    {% if products.has_next %}
<li class="pagination-next"><a class="pagination-pointed-button" href="?{% query_transform request page=products.next_page_number %}" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
        {% endif %}
</ul>
    {% endif %}
    {% endif %}





{% endblock %}

{% endblock %}
